# Format
Docs: https://docs.python.org/3.4/library/string.html#formatspec

In [1]:
name = 'Marco'
age = 26

In [2]:
'I am {} and I am {} years old.'.format(name, age)

'I am Marco and I am 26 years old.'

In [3]:
'I am {0} and I am {1} years old.'.format(name, age)

'I am Marco and I am 26 years old.'

In [4]:
'I am {1} and I am {0} years old.'.format(name, age)

'I am 26 and I am Marco years old.'

In [5]:
'I am {nome} and I am {anni} years old.'.format(nome=name, anni=age)

'I am Marco and I am 26 years old.'

In [6]:
funds = 150.9723

'Funds: {}'.format(funds)

'Funds: 150.9723'

In [20]:
'Funds: {:f}'.format(funds)

'Funds: 150.972300'

In [9]:
'Funds: {:.1f}'.format(funds)

'Funds: 151.0'

In [10]:
'Funds: {:10.1f}'.format(funds) # metto uno spazio di 10 digit dopo "Funds: "

'Funds:      151.0'

In [11]:
'Funds: {:<10.1f}'.format(funds) # left

'Funds: 151.0     '

In [12]:
'Funds: {:^10.1f}'.format(funds) # centered

'Funds:   151.0   '

In [13]:
'Funds: {:-^10.1f}'.format(funds) # placeholder per gli spazi vuoti

'Funds: --151.0---'

## Escaping char

In [15]:
'I'm Max'

SyntaxError: invalid syntax (<ipython-input-15-2443b77983df>, line 1)

In [16]:
'I\'m Max'

"I'm Max"

## `f` character instead of `.format`

In [18]:
f'I am {name} and I am {age} years old.'

'I am Marco and I am 26 years old.'

In [19]:
f'I am {name} and I am {age:.2f} years old.'

'I am Marco and I am 26.00 years old.'